.imageuploadify {
  border: 2px dashed #d2d2d2;
  position: relative;
  min-height: 350px;
  min-width: 250px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  color: #007bff;
}
.imageuploadify .imageuploadify-images-list i {
  display: block;
  font-size: 7em;
  text-align: center;
  margin-top: .5em;
  padding-bottom: 12px;
}

.imageuploadify .imageuploadify-images-list span.imageuploadify-message {
  font-size: 24px;
  border-top: 1px solid #007bff;
  border-bottom: 1px solid #007bff;
  padding: 10px;
  display: inline-block;
}
.imageuploadify .imageuploadify-images-list button.btn-default {
  display: block;
  color: #007bff;
  border-color: #007bff;
  border-radius: 1em;
  margin: 25px auto;
  width: 100%;
  max-width: 500px;
}