.page-wrapper {
  height: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 250px;
	
}

.page-content {
  padding: 1.5rem 1.5rem 0.7rem 1.5rem;
}

.wrapper.toggled .page-wrapper {
  margin-left: 70px;
}

@media screen and (max-width: 1024px) {
  .page-wrapper {
    margin-left: 0;
  }
}
